.BuildControls{
    width: 100%;
    background-color:white;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}


.OrderButton {
    background-color:#258208;
    /* outline: none; */
    cursor: pointer;
    /* border: 1px solid #030303; */
    color: #ffffff;
    font-family: inherit;
    font-size: 15px;
    width: 100%;
    padding: 10px 100px;
    /* box-shadow: 2px 2px 2px #027525; */
    margin-bottom: 5px;
}

.OrderButton:hover, .OrderButton:active {
    background-color:  #258208;
    /* border: 1px solid #966909; */
    color: #ffffff;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    /* border: 1px solid #ccc; */
    color: black;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}