.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    /* border: 1px solid #258208;; */
    cursor: pointer;
    /* outline: none; */
}

.BuildControl button:disabled {
    background-color: rgb(196, 194, 193);
    /* border: 1px solid #7E7365; */
    color: black;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: rgb(251, 253, 251);
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: rgb(211, 207, 207);
    color: black;
}

.BuildControl .More {
    background-color: #258208;;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: rgb(211, 207, 207);
    color:black;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #258208;;
    color: white;
}